@font-face {
  font-family: "iconfont"; /* Project id 2912921 */
  src: url('//at.alicdn.com/t/font_2912921_xlxvsk9nwh.woff2?t=1636460580466') format('woff2'),
       url('//at.alicdn.com/t/font_2912921_xlxvsk9nwh.woff?t=1636460580466') format('woff'),
       url('//at.alicdn.com/t/font_2912921_xlxvsk9nwh.ttf?t=1636460580466') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gaode-icon_jiaohuan:before {
  content: "\e63b";
}

.gaode-fanshe:before {
  content: "\ec50";
}

.gaode-zixingche:before {
  content: "\e69d";
}

.gaode-icon:before {
  content: "\e65d";
}

.gaode-buhang:before {
  content: "\e675";
}

.gaode-16:before {
  content: "\e60e";
}

.gaode-quanjing:before {
  content: "\e6c9";
}

.gaode-jiantou_youshang:before {
  content: "\eb0b";
}

.gaode-jiantou_youxia:before {
  content: "\eb0c";
}
